@page "/MainFlow"


<div class="container-fluid  text-white p-3" style="font-family: 'Poppins', sans-serif; background: #0f0c29;
   background: linear-gradient(to right, #24243e, #302b63, #0f0c29);">

       

        <div class="row justify-content-around text-center text-md-start">

            <div class="col-md-2 text-center">
                <img src="../images/full_logo.png"  width="100px"/>
            </div>
            <div class="col-md-2">
                <ul class="list-unstyled">
                    <li class="fw-bold my-2">Partnership</li>
                    <li> <a href="#" class="text-decoration-none text-white">Website</a> </li>
                    <li> <a href="#" class="text-decoration-none text-white"> Social Media</a></li>
                    <li> <a href="#" class="text-decoration-none text-white">Branding</a> </li>
                </ul>
            </div>
            <div class="col-md-2">
                <ul class="list-unstyled">
                    <li class="fw-bold my-2">About</li>
                    <li> <a href="#" class="text-decoration-none text-white">Our Project</a> </li>
                    <li> <a href="#" class="text-decoration-none text-white">Careers</a> </li>
                </ul>
            </div>
            <div class="col-md-2">
                <ul class="list-unstyled">
                    <li class="fw-bold my-2">Support</li>
                    <li> <a href="#" class="text-decoration-none text-white">Contact</a> </li>
                    <li> <a href="#" class="text-decoration-none text-white">Support Request</a> </li>
                </ul>
            </div>
            
        </div>
        <hr>
        <div class="row">
            <div class="col-md-12 text-center pt-2">
                <p>&copy; 2024 Copyright <a href="#" class="text-white">SPCII Technologies Inc.</a></p>
            </div>
        </div>
        </div>
@code {

}
