@page "/"

<PageTitle>Index</PageTitle>

<h1 class="text-primary">SPCII Technologies Inc.</h1>
<h2 class="text-scondary">Looking for help...</h2>

<img src="/images/JPGI2854.png" height="200" width="250" alt="..." style="background-color: #eee;" class="rounded-0">
<button type="button" class="btn btn-secondary" data-bs-toggle="tooltip" data-bs-html="true" title="<em>Tooltip</em> <u>with</u> <b>HTML</b>">
    Tooltip with HTML
</button>
<div style="height: 200px; background-color: rgba(255,0,0,.1);">
    100%
</div>

<div class="w-25 p-3" style="background-color: #eee;">Width 25%</div>
<div class="w-50 p-3" style="background-color: #eee;">Width 50%</div>
<div class="w-75 p-3" style="background-color: #eee;">Width 75%</div>
<div class="w-100 p-3" style="background-color: #eee;">Width 100%</div>
<div class="w-auto p-3" style="background-color: #eee;">Width auto</div>
